body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: #f0f0f0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}

input,
button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

button {
  background: #00cc66;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #00b359;
}

h1,
h3 {
  color: #00cc66;
}

.bloco {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #00cc66;
}
